<!-- <label class="label">Team Lead
    <span style="margin-left: 20em;">
      <button type="button" class="btn btn-sm btn-warning mr-1 btn-custom rounded-pill">
        <span class="badge badge-light text-dark">+</span>
        <span class="sr-only">unread messages</span>
      </button>
      <button type="button" class="btn btn-sm btn-warning mr-1 btn-custom rounded-pill">
        <span class="badge badge-light text-dark display-1">-</span>
        <span class="sr-only">unread messages</span>
      </button>
    </span>
  </label> -->

  <!-- <div class="buttons row">
      <div class="col btn-plus">
        <button type="button" class="btn btn-sm btn-warning mr-1 btn-custom rounded-pill">
            <span class="badge badge-light text-dark">+</span>
            <span class="sr-only">unread messages</span>
          </button>
      </div>
      <div class="col btn-minus">
        <button type="button" class="btn btn-sm btn-warning mr-1 btn-custom rounded-pill">
            <span class="badge badge-light text-dark display-1">-</span>
            <span class="sr-only">unread messages</span>
          </button>
      </div>
  </div> -->


  <div class=" flex-container">
    <div class="flex-item-right" >
        <button type="button" class=" badge btn btn-sm btn-warning mr-1 btn-custom rounded-pill" (click)="clickEvent()" >
            <span class="badge badge-light text-dark">+</span>
        </button>
      </div>
      <div class="flex-item-right">
        <button type="button" class=" badge btn btn-sm btn-warning mr-1 btn-custom rounded-pill">
            <span class="badge badge-light text-dark display-1">-</span>
        </button>
      </div>
  </div>

