.card-custom{
    height: 159px;
    width: 655px;
    /* position: absolute; */
    /* top: 5px; */
    /* left: -26px; */
    /* z-index: 2; */
    overflow: hidden;
    background-color: rgb(244, 244, 244);
    /* z-index:  !important; */
}
p{
    color: black;
    padding: 51px;
}
.ui-dialog .ui-dialog-titlebar {
    display: none !important;
 }
 .dialog-no-header.ui-dialog .ui-dialog-titlebar {
    display: none;
}

:host ::ng-deep .p-dialog .p-dialog-header  {
    padding: 0%;
 }
 :host ::ng-deep .p-dialog .p-dialog-content {
 padding: 0%;
 }
 :host ::ng-deep .p-dialog .p-dialog-header {
    height: 30px;
    background-color: #fdb719 !important;
  }


