
<p-dialog position={{modelPosition}}  [transitionOptions]="'0ms'" [draggable]="true" [visible]="isDisplayPrimeAlertModal"  [style]="{width:'35vw'}" [closable]="false"
  styleClass="dialog-custom" [modal]="true">


  <!-- <p-editor [(ngModel)]="text1" [style]="{'height':'220px'}">
    <ng-template pTemplate="header">
        <span class="ql-formats">
            <select class="ql-size">
              <option value="small">little</option>
              <option selected></option>
              <option value="large">Subtitle</option>
              <option value="huge">Title</option>
            </select>
          </span>
        <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>

          <span id="toolbar">
            <span class="ql-formats">
              <button class="ql-align ql-active" value=""></button>
              <button class="ql-align" value="center"></button>
              <button class="ql-align" value="right"></button>
              <button class="ql-align" value="justify"></button>
            </span>
          </span>
    </ng-template>
</p-editor> -->




  <ng-template pTemplate="header">
    <i class="pi lock-open" style="font-size: 2rem"></i>
    <div class="header-label float-start"><b>{{headerName}}</b></div>
  </ng-template>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1; ">
        <div class="p-text-center d-flex">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
            <p class="pt-2 px-2">{{alertMessage}}</p>
        </div>
    </div>
</ng-template>

 <ng-template pTemplate="footer">
  <button type="button" label="Cancel" class="btn btn-primary btn-sm px-3  rounded-3 p-button"
  (click)="closeClick()">{{btnName}}</button>
    </ng-template>
</p-dialog>


