<div class="container-fluid mt-4 mb-3">
  <div class="card rounded shadow-sm mx-3 bg-color">
    <div class="card-body ">
      <div class="row border-bottom">
        <div class="col-4">Organization</div>
        <div class="col-8">
          <div class="row">
            <div class="col-4">Org admin</div>
            <div class="col-4">Billing Contact</div>
            <div class="col-4">Technical Contact</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-10"><input type="text" [value]="organization?.name ? organization?.name : ''" class="form-control py-1"
                (change)="setOrganizationName($event)">
            </div>
          </div>
          <div class="row">
            <label class="col-2 col-form-label pr-1">Type</label>
            <div class="col-4 py-1">
              <p-dropdown placeholder="Select Type" [options]="orgTypes"
                optionLabel="value" [(ngModel)]="selectedType" (ngModelChange)="setOrganizationType()"></p-dropdown>
              <!-- <input type="text" [value]="organization?.type" class="form-control"
                (change)="setOrganizationType($event)"> -->
            </div>
            <label class="col-2 col-form-label px-1">Address 1</label>
            <div class="col-4 py-1"><input type="text" [value]="organization?.address1 ? organization?.address1 : ''" class="form-control py-1"
                (change)="setOrganizationAddress1($event)"></div>
          </div>
          <div class="row">
            <label class="col-2 col-form-label pr-1">Phone Number</label>
            <div class="col-4 py-1"><input type="text" [value]="organization?.number" class="form-control py-1"
                placeholder="+1(000) 000-0000" (change)="setOrganizationNumber($event)"></div>

            <label class="col-2 col-form-label px-1">Address 2</label>
            <div class="col-4 py-1"><input type="text" [value]="organization?.address2 ? organization?.address2 : '' " class="form-control py-1"
                (change)="setOrganizationAddress2($event)"></div>
          </div>
          <div class="row">
            <label class="col-2 col-offset-6 col-form-label">City</label>
            <div class="col-4 py-1"><input type="text" [value]="organization?.city ? organization?.city : ''" class="form-control"
                (change)="setOrganizationCity($event)">
            </div>
            <label class="col-2 col-offset-6 col-form-label py-1">State</label>
            <div class="col-4 py-1"><input type="text" [value]="organization?.state ? organization?.state : '' " class="form-control py-1"
                (change)="setOrganizationState($event)"></div>
          </div>
          <div class="row">
            <label class="col-2 col-offset-6 col-form-label py-1">Zip</label>
            <div class="col-4 py-1"><input type="text" maxlength="5" [value]="organization?.zip ? organization?.zip : '' " class="form-control py-1"
                (change)="setOrganizationZip($event)">
            </div>
          </div>
          <div class="row ml-2 mt-2">
            <a id="uploadcsv" class="nav-link active">
              <!-- <i class="fa-solid fa-upload" style="position: relative; top: 5px"> </i><input type="file" id="myFile" name="filename" (change)="selectFile($event)"> -->
              <!-- <p-fileUpload id="myFile" name="filename"   (onUpload)="uploadCSV()" (onSelect)="selectFile($event)"   *ngIf="isSubmitted"></p-fileUpload> -->
              <div class="form-group">
                <div *ngIf="isSubmitted">
                  <input type="file" id="myFile" name="filename" (change)="selectFile($event)" class="form-control"
                    id="customFile" />
                    <div class="row">
                      <div class="col-4">
                        <button type="button" pButton class="mt-2" (click)="uploadCSV()">Upload Users</button>
                      </div>
                      <div class="col-8">
                        <p-button label="Download Users Report" class="ml-2"  *ngIf="apiRequestSuccess"
                        (onClick)="downloadFile()"></p-button>
                      </div>
                    </div>
                  
                </div>
                
              </div>

            </a>
          </div>
        </div>

        <div class="col-8">
          <div class="row">
            <div class="col-4 border-start">
              <div class="row" *ngFor="let contact of MainContactList; let i = index">
                <div class="col-4 py-1">{{contact.label}}</div>
                <div class="col-8 py-1"><input type="text" [value]="organization?.mainContact[contact.key] ? organization?.mainContact[contact.key] : '' "
                    class="form-control" (change)="setMainContactList($event,i)" [placeholder]="contact.placeHolder">
                </div>
              </div>
            </div>
            <div class="col-4 border-start">
              <div class="row" *ngFor="let contact of BillingContactList; let i = index">
                <div class="col-4 py-1">{{contact.label}}</div>
                <div class="col-8 py-1"><input type="text" [value]="organization?.billingContact[contact.key] ? organization?.billingContact[contact.key] : ''"
                    class="form-control" (change)="setBillingContactList($event, i)"
                    [placeholder]="contact.placeHolder">
                </div>
              </div>
            </div>
            <div class="col-4 border-start">
              <div class="row" *ngFor="let contact of TechnicalContactList; let i = index">
                <div class="col-4 py-1">{{contact.label}}</div>
                <div class="col-8 py-1"><input type="text" [value]="organization?.technicalContact[contact.key] ? organization?.technicalContact[contact.key] : ''"
                    class="form-control" (change)="setTechnicalContactList($event, i)"
                    [placeholder]="contact.placeHolder">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>