
<!-- <p-dialog   [transitionOptions]="'0ms'" [draggable]="false" [visible]="true"  [style]="{width:'35vw'}" [closable]="false"
styleClass="dialog-custom" [modal]="false">

<ng-template pTemplate="header">
  <i class="pi lock-open" style="font-size: 2rem"></i>
  <div class="header-label float-start"><b>abc</b></div>
</ng-template>
<ng-template let-message pTemplate="message">
  <div class="p-flex p-flex-column" style="flex: 1; ">
      <div class="p-text-center d-flex">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
          <p class="pt-2 px-2">hhhhhhhhhhhhh</p>
      </div>
  </div>
</ng-template>
<ng-template pTemplate="footer">
  </ng-template>
</p-dialog> -->

<div class="container">
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
        </div>
      </div>
</div>
