
#basic-addon1 {
  padding-left: 9px !important;
}
.card-top{
    max-height: 325px;
    background-color: rgb(255, 255, 255);
}
.first-card {
    max-height: 251px;
    overflow-y: auto;
    border: none;
    width: 36rem;
}
.card-body{
    padding: 5px !important;
    height: 251px;
    overflow-y: auto;
    overflow-x: hidden;
}
.contianer-bg {
  background-color: #fafafa;
}
.top-section{
    height: 29px;
  }
  .heading{
    display: flex;
    --bs-gutter-x: -0.5rem !important;
}
  .heading .col{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.head{
    padding-top: 2px;
    padding-bottom: 0px;
    height: 25px !important; 
   
    /* justify-content: center; */
}
.headingTwo {
  padding-left: 20px;
}
.headingThree {
  padding-left: 20px;
}
.firstDiv-buttons{
  padding-right: 41px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* font-size: 10px; */
    text-align: center;
    justify-content: end;

  }
  .imag-icon{
    width: 40px;
    height: 20px;
    margin: 0 0 3px 9px;
}
.values-input>span{
  height: 100px;
}
.values-input {
  padding: 0px !important;
  height: 26px;
}
.values-input>input{
  height: 24px;
    border-radius: 0px;
}
.mian-input-f{
  width: 16rem !important;
}
.tickmark {
  position: relative;
}

.btn-down{
  width: 420px;
  padding: 10px ;
  margin-bottom: 10px;
  height: 40px;
}
.btn-up{
  position: relative;
  top: 17px;
  left: 70px;
  
}
.text-right label{
  padding-right: 41px;
}
.flex-item-right img{
  margin-right: 10px;
}
.input-height-plan-outcome{
  padding-left: 10px;
  height: 35px;
  width:25vw;
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-height3 {
  padding-left: 10px;
  height: 35px;
  width:29vw;
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-height-target {
  padding-left: 10px;
  height: 35px;
  width:18vw;
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-height-actual {
  padding-left: 10px;
  height: 35px;
  width:12vw;
  border-radius: 0.375rem;
  border: 1px solid #dee2e6;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-onFocus:focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ffe69c;
  border-color: #FFC107;
}
/* .input-height2, .input-height3, .input-height4, .input-height5:focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ffe69c;
  border-color: #FFC107;
} */

/* On screens that are 1360px or less, set the background color to blue */
@media screen and (max-width: 1812px) {
  /* .input-height2 {
    width:44vw;
  } */
  .text-right label{
    padding-right: 2px;
  }
}

  @media screen and (max-width: 1260px) {
    .input-height2 {
      width:43vw;
    }
  }
      @media screen and (max-width: 1260px) {
        .input-height2 {
          width:42vw;
        }
      }