<!-- <mat-card>
    <mat-card-title>Work System Name</mat-card-title>
    <mat-card-content>Hello work sysye</mat-card-content>
</mat-card>

<p-card>
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    Body Content
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card> -->

<!-- <div class="card card-style">
    <div class="card-header rounded-5">
        Work System Name
    </div>
    <div class="card-content">
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, minus! Facere, aperiam esse! Placeat, ut commodi! Laborum odit, optio earum explicabo perferendis et eligendi est velit tempore, officiis nostrum nam.</p>
    </div>
</div> -->

<div class="card card-style">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <h5 class="card-title py-1 m-0 text-center">{{title}}</h5>
    <div class="card-body p-2 custom-style">
      <p class="card-text">
        {{description}}
        </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
