

<footer class="bg-light text-end text-white   them-color" style="position:relative;
bottom:0;">
   <!-- Grid container -->
   <div class="container p-4 pb-0 ">
     <!-- Section: Social media -->
     <section class="overlap justify-content-end icons-group">
       <!-- Facebook -->
       <div class="half-circle ">
         <a href="https://www.facebook.com/workexcellencellc/" class="fa fa-facebook "></a>
       </div>
       <div class="half-circle">
         <a href="https://twitter.com/work_excellence" class="fa fa-twitter"></a>
       </div>
       <!-- <div class="half-circle">
         <a href="#" class="fa fa-youtube"></a>
       </div> -->
       <div class="half-circle">
         <a href="https://www.google.com/maps/place/Work+Excellence,+LLC/@45.1575501,-128.1448585,3z/data=!3m1!4b1!4m5!3m4!1s0x889a41fabd4f0001:0xd79a6ea360d80cde!8m2!3d45.5980213!4d-127.2696389" class="fa fa-google"></a>
       </div>
       <div class="half-circle">
         <a href="https://www.instagram.com/workexcellencellc/" class="fa fa-instagram"></a>
       </div>
       <div class="half-circle">
         <a href="https://www.linkedin.com/company/work-excellence/" class="fa fa-linkedin"></a>
       </div>

       <!-- <a href="#" class="fa fa-facebook"></a>
       <a href="#" class="fa fa-twitter"></a>
       <a href="#" class="fa fa-youtube"></a>
       <a href="#" class="fa fa-instagram"></a> -->
     </section>
     <!-- Section: Social media -->
   </div>
   <!-- Grid container -->
 
   <!-- Copyright -->
   <div class="container-fluid them-colorAs-gold">
      <div class="container justify-content-start">
         <div class="row row-style">
            <div class="col-sm-4"> 
                    <p>
                     The Work Excellence Method allows you to create more value from your work.  We offer business workshops, webinars, coaching, and consulting. </p>
               </div>
            <div class="col-sm-4">
               <p>©
                  <span>{{date}}</span>
                  Copyright: Work Excellence, LLC <br> +1 844-448-0488 </p>
            </div>
            <div class="col-sm-4">
               <div class="row privacy-row">
                  <div class="col-sm-4">Term of use</div>
                  <div class="col-sm-4">Privacy Notice</div>
                  <div class="col-sm-4">Cookie Policy</div>
               </div>
           
            </div>
         </div>
      </div>

   </div>


   <!-- Copyright -->
 </footer>